/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #7A7C80;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.content {
  width: 100%;
  height: calc(100vh - 100px);
  overflow: hidden;
}

nav, main {
  float: left;
  height: 100%;
}

/* nav */
nav {
  width: 250px;
  display: flex;
  flex-direction: column;
}

/* nav logo */
.nav-top {
  height: 80px;
  background-color: rgb(248, 236, 184);
}

.logo {
  width: 70%;
  padding: 15px;
}

.logo img {
  width: 100%;
}

/* nav menu */
.nav-menu {
  height: 120px;
  background-color: rgb(243, 207, 88);
}

.nav-menu ul {
  list-style: none;
}

.nav-menu ul li {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

.item {
  padding-left: 15px;
  width: 40px;
}

.item img {
  width: 100%;
}

.item-text {
  padding-left: 5px;
}

/* nav middle - playlist */
.nav-middle {
  height: calc(100% - 270px);
  background-color: rgb(184, 243, 194);
  padding-left: 15px;
  padding-top: 10px;
}

.nav-middle p {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}

.playlist-item {
  font-size: 40px;
  vertical-align: middle;
}

.playlist-text {
  font-weight: bold;
}

.nav-middle ul {
  list-style: none;
}

.nav-middle ul li {
  font-size: 14px;
  padding: 5px 0;
}

.playlist {
  overflow: auto;
}

/* nav bottom */
.nav-bottom {
  height: 70px;
  padding: 0 15px;
  background-color: rgb(252, 143, 143);
}

.download {
  display: inline-block;
  font-size: 14px;
  padding-bottom: 5px;
}

.thin-line {
  width: 100%;
  height: 5px;
  border-top: 1px solid #7A7C80;
}

.user {
  width: 25px;
  display: inline-block;
  padding-top: 5px;
}

.user img {
  width: 100%;
  border-radius: 50%;
  background-color: #7A7C80;
  vertical-align: middle;
}

.user-name {
  display: inline-block;
  color: #fff;
  font-weight: bold;
}



main {
  width: calc(100% - 250px);
  background-color: rgb(173, 233, 215);
}

/* header */
main header {
  background-color: rgba(54, 52, 52, 0.3);
  width: calc(100% - 250px);
  height: 80px;
  position: fixed;
  top: 0;
  right: 0;
  text-align: right;
}

header button {
  font-size: 12px;
  color: white;
  text-transform: uppercase;
  border: 1px solid white;
  background-color: rgba(54, 52, 52, 0.3);
  padding: 10px 30px;
  border-radius: 20px;
  margin-top: 15px;
  margin-right: 5px;
}

header button:hover {
  scale: 1.2;
  margin-right: 20px;
}


/* section */
main section {
  height: calc(100vh - 80px);
  padding-top: 80px;
  background-color: #141923;
  overflow: auto;
}



/* FOOTER */
footer {
  width: 100%;
  height: 100px;
  background-color: #282828;
  color: white;
  display: flex;
  justify-content: space-between;
}

.footer-left, .footer-center, .footer-right {
  display: flex;
}

/* footer list structure */
footer ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 14px;
  padding: 10px;
}

footer ul li {
  text-align: center;
  padding: 8px;
}


/* footer left */
.footer-left{
  color: #5A5A59;
}

.little-image {
  width: 50px;
}

img {
  width: 100%;
}

li p {
  text-align: left;
  font-size: 12px;
}

.song-title {
  color: #fff;
  font-size: 14px;
}

.fa-heart {
  padding-left: 25px;
}

.fa-heart:hover, .fa-folder:hover{
  color: white;
}


/* footer center */
.footer-center {
  height: 100px;
  flex-direction: column;
  align-items: center;
  justify-content:space-around;
  align-content: center;
  padding: 10px 0;
}

.center-top, .center-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50%;
}

.center-top ul {
  font-size: 18px;
}

.center-top ul li{
  padding-left: 20px;
  padding-right: 20px;
}

li .fa-play-circle {
  font-size: 30px;
}

.line {
  height: 6px;
  width: 300px;
  border: 3px solid #5A5A59;
  border-radius: 2px;
}

.line-bold {  /* da sistemare */
  height: 4px;
  width: 80px;
  border: 2px solid #fff;
  border-radius: 2px;
}

.line:hover {
  /* da fare */
}


/* footer right */
.line.short {
  width: 100px;
}

.line-bold.short {  /* da sistemare */
  width: 20px;
}

