/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #7A7C80;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

a {
  text-decoration: none;
  color: #7A7C80;
  cursor: pointer;
}

.active {
  border-bottom: 2px solid lightgreen;
}

.item.active {
  border-bottom: none;
  border-left: 2px solid lightgreen;
  padding-left: 13px;
}

.content {
  width: 100%;
  height: calc(100vh - 100px);
  overflow: hidden;
}

nav, main {
  float: left;
  height: 100%;
}

/* nav */
nav {
  width: 250px;
  /* display: flex;
  flex-direction: column; */
  overflow: hidden;
}

.nav-up {
  height: calc(100% - 70px);
  overflow: hidden;
}

/* nav logo */
.nav-top {
  /* height: 80px; */
  background-color: rgb(248, 236, 184);
}

.logo {
  width: 70%;
  padding: 15px;
}

.logo img {
  width: 100%;
}

/* nav menu */
.nav-menu {
  /* height: 120px; */
  background-color: rgb(243, 207, 88);
}

.nav-menu ul {
  list-style: none;
}

.nav-menu ul li {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

.item {
  padding-left: 15px;
  width: 40px;
  cursor: pointer;
}

.item img {
  width: 100%;
}

.item-text {
  padding-left: 5px;
}

/* nav middle - playlist */
.nav-middle {
  /* height: calc(100% - 270px); */
  background-color: rgb(184, 243, 194);
  padding-left: 15px;
  padding-top: 10px;
}

.nav-middle p {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.playlist-item {
  font-size: 12px;
  color: #000;
  padding: 10px;
  background-color: #7A7C80;
  vertical-align: middle;
  cursor: pointer;
}

.playlist-text {
  font-weight: bold;
}

.nav-middle ul {
  list-style: none;
  margin-top: 10px;
  max-height: 200px;
  overflow: auto;
}

.nav-middle ul li {
  font-size: 14px;
  font-weight: bold;
  padding: 5px 0;
  cursor: pointer;
}

/* nav bottom */
.nav-bottom {
  height: 70px;
  padding: 0 15px;
  background-color: rgb(252, 143, 143);
}

.download {
  display: inline-block;
  font-size: 14px;
  padding-bottom: 5px;
  cursor: pointer;
}

.thin-line {
  width: 100%;
  height: 5px;
  border-top: 1px solid #7A7C80;
}

.user {
  width: 25px;
  display: inline-block;
  padding-top: 5px;
  cursor: pointer;
}

.user img {
  width: 100%;
  border-radius: 50%;
  background-color: #7A7C80;
  vertical-align: middle;
}

.user-name {
  display: inline-block;
  color: #fff;
  font-weight: bold;
}


/* MAIN */
main {
  width: calc(100% - 250px);
  background-color: rgb(173, 233, 215);
}

/* header */
main header {
  background-color: rgba(0, 0, 0, 0.5);
  width: calc(100% - 250px);
  height: 80px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  text-align: right;
}

header button {
  font-size: 12px;
  color: white;
  text-transform: uppercase;
  border: 1px solid white;
  background-color: rgba(54, 52, 52, 0.3);
  padding: 10px 30px;
  border-radius: 20px;
  margin-top: 15px;
  margin-right: 5px;
  cursor: pointer;
}

header button:hover {
  scale: 1.2;
  margin-right: 20px;
}


/* section */
main section {
  height: calc(100vh - 80px);
  padding: 80px 0;
  background-color: #141923;
  overflow: auto;
}

.section-menu ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.section-menu ul li a {
  font-size: 13px;
  text-decoration: none;
  text-transform: uppercase;
  color: #7A7C80;
  padding: 10px;
  cursor: pointer;
}

.section-menu ul li a:hover {
  color: #fff;
}

.row {
  width: 100%;
  background-color: rgb(169, 234, 243);
  margin-top: 20px;
  padding: 10px;
}
.row-title {
  margin-bottom: 20px;
}

.row-title h2 {
  color: #fff;
  font-size: 30px;
  font-weight: 800;
}

.row-title p {
  font-size: 12px;
  padding-top: 8px;
} 

.row-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.box {
  width: 12vw;
  margin-bottom: 20px;
  background-color: rgb(241, 209, 209);
  /* display: flex;
  justify-content: space-between;
  flex-wrap: wrap; */
}

.cover {
  position: relative;
  width: 12vw;
  height: 12vw;
  background-color: rgb(241, 167, 167);
}

.layover {
  position: absolute;
  top: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  line-height: 12vw;
}

.layover .fa-play-circle {
  color: #fff;
  font-size: 30px;
}

.cover:hover .layover {
  display: block;
}

.cover img {
  width: 100%;
}

.cover.circle img {
  border-radius: 50%
}

.text-box {
  text-align: center;
}

.text-box h5{
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  margin: 10px 0;
}

.text-box p{
  font-size: 14px;
}




/* FOOTER */
footer {
  width: 100%;
  height: 100px;
  background-color: #282828;
  color: white;
  display: flex;
  justify-content: space-between;
}

.footer-left, .footer-center, .footer-right {
  display: flex;
}

.footer-left, .footer-right {
  width: 25%;
}

.footer-center {
  width: 50%;
}

/* footer list structure */
footer ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 14px;
  padding: 10px;
}

footer ul li {
  text-align: center;
  padding: 8px;
  cursor: pointer;
}


/* footer left */
.footer-left{
  color: #5A5A59;
}

.little-image {
  width: 50px;
}

img {
  width: 100%;
}

li p {
  text-align: left;
  font-size: 12px;
}

.song-title {
  color: #fff;
  font-size: 14px;
}

.fa-heart {
  padding-left: 25px;
}

.fa-heart:hover, .fa-folder:hover{
  color: white;
}


/* footer center */
.footer-center {
  height: 100px;
  flex-direction: column;
  align-items: center;
  justify-content:space-around;
  align-content: center;
  padding: 10px 0;
}

.center-top, .center-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50%;
}

.center-top ul {
  font-size: 18px;
}

.center-top ul li{
  padding-left: 20px;
  padding-right: 20px;
}

li .fa-play-circle {
  font-size: 30px;
}

.line {
  height: 6px;
  width: 300px;
  border: 3px solid #5A5A59;
  border-radius: 2px;
}

.line-bold {  /* da sistemare */
  height: 100%;
  width: 80px;
  border: 3px solid #fff;
  border-radius: 2px;
  display: block;
}

.line:hover {
  /* da fare */
}


/* footer right */
.footer-right {
  justify-content: flex-end;
}

.line.short {
  width: 100px;
}

.line-bold.short {  /* da sistemare */
  width: 20px;
}

